<?xml version="1.0"?>

<model>
  <name>BlackFly S Color 3.2MP with 84.7º HFOV (Cam)</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jorge Beltran</name>
        <email>jbeltran@ing.uc3m.es</email>
    </author>
  <description>
    BlackFly S Color 3.2MP (Sony IMX265) + 4.5mm C Series Fixed Focal Length Lens (84.7º HFOV)
  </description>
</model>
