<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="monocular_sensor">
<xacro:macro name="monocular_sensor" params="name hfov hz noise **resolution">
  <gazebo reference="${name}_link">
    <static>true</static>
    <turnGravityOff>false</turnGravityOff>
    <sensor name="zoe_narrow_link_camera" type="camera">
      <camera>
        <horizontal_fov>${hfov}</horizontal_fov>
        <image>
          <xacro:insert_block name="resolution" />
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.03</near>
          <far>150</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>${noise}</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>${hz}</update_rate>
      <visualize>false</visualize>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
	        <alwaysOn>true</alwaysOn>
	        <updateRate>${hz}</updateRate>
	        <cameraName>${name}</cameraName>
	        <imageTopicName>image_raw</imageTopicName>
	        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
	        <frameName>${name}</frameName>
	        <hackBaseline>0.0</hackBaseline>
	        <distortionK1>0.0</distortionK1>
	        <distortionK2>0.0</distortionK2>
	        <distortionK3>0.0</distortionK3>
	        <distortionT1>0.0</distortionT1>
	        <distortionT2>0.0</distortionT2>
	    </plugin>
    </sensor>
  </gazebo>
</xacro:macro>	
</robot>
