<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="blackflys_spawn">
  <xacro:include filename="$(find velo2cam_gazebo)/../gazebo_models/bumblebee_xb3/bumblebee_xb3.urdf.xacro"/>
  <xacro:arg name="xyz" default="0 0 1.5" />
  <xacro:arg name="rpy" default="0 0 0" />
  <xacro:arg name="noise" default="0.007" />
  <xacro:arg name="hfov" default="0.750492" />
  <xacro:arg name="hz" default="1" />
  <xacro:arg name="baseline" default="0.12" />
  <xacro:arg name="cam_name" default="bumblebee_xb3" />

  <gazebo>
      <static>true</static>
  </gazebo>
  <!-- Base Footprint -->
  <link name="base_footprint">
    <inertial>
      <mass value="0.0001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
          iyy="0.0001" iyz="0.0" 
          izz="0.0001" />
    </inertial>
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </visual>
  </link>

  <gazebo reference="base_footprint">
    <static>true</static>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  
  <bumblebee_xb3 parent="base_footprint" name="$(arg cam_name)" baseline="$(arg baseline)" hfov="$(arg hfov)" hz="$(arg hz)" noise="$(arg noise)">
    <origin xyz="$(arg xyz)" rpy="$(arg rpy)"/>
    <resolution>
          <width>1280</width>
          <height>960</height>
    </resolution>
  </bumblebee_xb3>
</robot>
