<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wild_car">
	<xacro:macro name="wild_car" params="name *origin">
		<link name="${name}_link">
	  		<!-- <xacro:insert_block name="origin" /> -->
			<visual name="visual">
				<pose>0 0 0 0 0 0</pose> 
				  <geometry>
					<mesh filename="model://wild_car/meshes/wild_car.dae"/>
				  </geometry>
			</visual>
			<collision name="collision">
				<pose>0 0 0  0 0 0</pose>
				<geometry>
					<mesh filename="model://wild_car/meshes/wild_car.stl" />
				</geometry>
			</collision>
		</link>
		<gazebo reference="${name}_link">
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	</xacro:macro>
</robot>

