<?xml version="1.0" ?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: if relative path used, the 'world_name' is with respect to GAZEBO_RESOURCE_PATH environmental variable -->

  <!-- <arg name="world_name" default="$(find velo2cam_gazebo)/worlds/any/car_calibration.world"/> Note: if relative path used, the 'world_name' is with respect to GAZEBO_RESOURCE_PATH environmental variable -->

  <!-- Start gazebo and load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <param name="wild" command="$(find xacro)/xacro $(find velo2cam_gazebo)/worlds/any/car_setup.urdf.xacro" />
  	<!-- <param name="wild" command="$(find xacro)/xacro $(find velo2cam_gazebo)/worlds/zoe/sensors_test_world2.urdf.xacro" /> -->

     <!-- spawn robot in gazebo -->
  <node name="spawn_wild_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param wild -model wild" respawn="false" output="screen" />

</launch>
